li{
  list-style: none;
}
a{
  text-decoration: none;
}

$blue: rgb(0, 72, 255);
$whiteimg-gray: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
$whiteimg-red: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(105%) contrast(102%);

.flex{
  display: flex;
  align-items: center;
  &-column{
    display: flex;
    flex-direction: column;
  }
}

.hover:hover{
  cursor: pointer;
  opacity: 0.5;
}

.shadow{
  box-shadow: 1px 1px 3px #555555;
}

.button{
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px 7%;
}

.error{
  color: red;
  font-size: 10px;
}








// ===== header ==================
#CommonHeader {
  width: 100%;
}
.header{
  margin: 30px 10%;
  $header__left-width: 40%;
  $header__right-width: 100% - $header__left-width;
  &__left{
    &-btn{
      background-color: $blue;
      border: none;
      border-radius: 5px;
      color: white;
      $buttonLength: 35px;
      height: $buttonLength;
      width: $buttonLength;
      justify-content: space-between;
      padding: 10px 10px;
      align-items: flex-start;
      &--line{
        display: block;
        background-color: white;
        width: 100%;
        height: 1px;
        &1{
          width: 50%;
        }
        &3{
          width: 30%;
        }
      }
    }
    &-title{
      color: $blue;
      margin-left: 20px;
      font-size: 28px;
      font-weight: bold;
    }
  }
  &__right{
    width: $header__right-width;
    background-color: yellow;
  }
}


// ======= ハンバーガーメニュー開いた後 =============
.batsu {
  display: block;
  position: relative;
  top: 4px;
  &::before, &::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px; /* 棒の幅（太さ） */
    height: 20px; /* 棒の高さ(長さ) */
    background: white;
  }
  &::before{
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &::after{
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}
.menu{
  width: 100%;
  padding: 10% 0;
  text-align: center;
  &__link{
    display: block;
    margin: 30px 0;
    color: $blue;

  }
}


// ===== registration =================
.registration{
  width: 100%;
  padding: 15vh 0;
  justify-content: center;
  &-box{
    display: block;
    border-radius: 5px;
    width: 40%;
    &__top{
      background-color: $blue;
      padding: 10px 10px;
      border-radius: 5px 5px 0 0;
      &-text{
        color: white;
        font-size: 14px;
        font-weight: normal;
      }
    }
    &__center{
      padding: 10px 20px 0;
      &-username, &-email, &-password{
        height: 40px;
        justify-content: flex-end;
      }
      &-img{
        width: 20px;
        margin-right: 5px;
      }
      &-formarea{
        justify-content: space-between;
      }
      &-form{
        border: none;
        border-bottom: solid 1px #555555;
        font-size: 12px;
        width: 90%;
        padding: 0 3px;
      }
      &-error{
        padding-left: 10%;
      }
    }
    &__bottom{
      width: 100%;
      text-align: right;
      padding: 20px;
      &-button{
        padding: 5px 4%;
      }
    }
  }
}




// ===== thanks =================
.thanks{
  padding: 50px 30%;
  &-box{
    padding: 70px 10%;
    align-items: center;
    &__text{
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}



// ===== login =================
.login{
  width: 100%;
  padding: 15vh 0;
  justify-content: center;
  &-box{
    display: block;
    border-radius: 5px;
    width: 40%;
    &__top{
      background-color: $blue;
      padding: 10px 10px;
      border-radius: 5px 5px 0 0;
      &-text{
        color: white;
        font-size: 14px;
        font-weight: normal;
      }
    }
    &__center{
      padding: 10px 20px 0;
      &-username, &-email, &-password{
        height: 40px;
        justify-content: flex-end;
      }
      &-img{
        width: 20px;
        margin-right: 5px;
      }
      &-formarea{
        justify-content: space-between;
      }
      &-form{
        border: none;
        border-bottom: solid 1px #555555;
        font-size: 12px;
        width: 90%;
        padding: 0 3px;
      }
      &-error{
        padding-left: 10%;
      }
    }
    &__bottom{
      width: 100%;
      text-align: right;
      padding: 20px;
      &-button{
        padding: 5px 4%;
      }
    }
  }
}


// ===== detail =================
#detail{
  margin: 30px 10%;
  justify-content: space-between;
  height: 90vh;
  position: relative;
}
.detail{
  &-left{
    width: 48%;
    font-size: 14px;
    &__top{
      padding: 20px 0;
      &-button{
        border-radius: 5px;
        border: none;
        $buttonLength: 25px;
        width: $buttonLength;
        height: $buttonLength;
        background-color: white;
      }
      &-shopname{
        margin-left: 10px;
        font-size: 20px;
      }
    }
    &__img{
      width: 100%;
    }
    &__tag{
      padding: 20px 0;
      &-prefecture{
        padding-right: 5px;
      }
    }
  }
  &-right{
    background-color: rgb(33, 95, 250);
    width: 48%;
    height: 100%;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    &__main{
      padding: 20px;
      &-title{
        font-size: 16px;
      }
      &-formarea{
        padding: 15px 0;
      }
      &-form{
        margin: 5px 0;
        padding: 2px 7px;
        font-size: 10px;
        border: none;
        border-radius: 5px;
        &--date{
          width: 35%;
        }
      }
    }
    &__table{
      background-color: rgb(71, 122, 250);
      border-radius: 5px;
      width: 100%;
      padding: 15px 12px;
      &-th{
        width: 25%;
        text-align: left;
        padding: 3px;
        font-weight: normal;
      }
    }
    &__bottom{
      background-color: rgb(0, 30, 255);
      text-align: center;
      width: 100%;
      font-size: 12px;
      padding: 8px 0;
      border-radius: 0 0 5px 5px;
      position: absolute;
      bottom: 0;
    }
  }
}





// ===== shoplist =================
.shoplist{
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10%;
  &__card{
    width: 24%;
    margin-bottom: 25px;
    border-radius: 5px;
    &-img{
      // height: 80px;
      & img{
        width: 100%;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
      }
    }
    &-textarea{
      padding: 15px;
      padding-right: 0;
      width: 100%;
      &--shopname{
        font-size: 14px;
      }
      &--tag{
        font-size: 10px;
        margin-top: 2px;
        &area{
          margin-right: 5px;
        }
      }
      &--btn{
        width: 100%;
        justify-content: space-between;
        &2{
          background-color: transparent;
          & img{
            width: 25px;
            height: 25px;
            filter: $whiteimg-gray;
            opacity: 0.2;
          }
        }
      }
    }
  }
  &::before{
    content:"";
    display: block;
    width:23%;
    order:1;
  }
  &::after{
    content:"";
    display: block;
    width:23%;
  }
}